$font-dir: "./fonts/";
$color-darkgreen: #194d19;
$color-lightgreen: #d8f3d8;
$color-white: white;

@font-face {
	font-family: "elysio-regular";
	src: url("#{$font-dir}elysio-regular.woff") format("woff");
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	position: relative;
	background: url('img/bg3.png');
	color: $color-darkgreen;
}

.container {
	background: $color-white;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 800px;
	text-align: center;
	// font-family: Arial, Helvetica, sans-serif;
	font-family: "elysio-regular";
}

.view-wrapper {
  position: relative;
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-grow {
	flex-grow: 1;
}

h1 {
	font-size: 1.5rem;
	box-sizing: border-box;
	padding: 0.75rem;
	margin: 0;
	margin-bottom: 1rem;
	width: 100%;
}

button {
  padding: 0.60rem 2.5rem;
  font-size: 1.4rem;
  font-family: "elysio-regular";
	border: 3px solid $color-darkgreen;
	border-radius: 5px;
	background: $color-white;
	color: $color-darkgreen;
}

.lazy-image {
	max-width: inherit !important;
}
.navButton {
  padding: 1rem;
  border: none;
  background: none;
	color: $color-darkgreen;

  &:active:not(.disabled) {
    transform: scale(0.9);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.disabled {
    opacity: 0.5;
  }
}
